body {
    font-family: Roboto;
    background-image: linear-gradient(90deg, rgb(68, 118, 162), rgb(225, 236, 247));
}
h1 {
    top: 100%;
    text-shadow: 2px;
    text-align: center;
    text-decoration: underline;
    color:rgb(245, 65, 0);
}
h1:hover {
    color:rgb(255, 26, 26);
    cursor: pointer; 
}
h2 {
    text-decoration: underline;
}
input{
    background-image: linear-gradient(90deg, rgb(165, 205, 240), rgb(225, 236, 247));
    font-size: 16px;
}
#url-input {
    font-size: 16px;
    height: 200px; 
    width: 95%;
    font-family: Roboto;
    background-image: linear-gradient(90deg, rgb(165, 205, 240), rgb(225, 236, 247));
}

#generated {
    font-size: 16px;
    height: 200px; 
    width: 95%;
    font-family: Roboto;
    background-image: linear-gradient(90deg, rgb(165, 205, 240), rgb(225, 236, 247));
}
.button{
    padding: 5px 5px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    outline: none;
    background-color: rgb(249, 104, 51);
}
.button:hover {
    background-color: rgb(255, 156, 119);
}